<% if @my_events.empty? %>
<h3> Você não possui eventos adicionados a sua semana </h3>
<%else%>


<div class="col-sm-12">
                                <div class="timeline">
                                 <% @eventsDays.each do |days| %>
                                    <article class="timeline-item alt">
                                        <div class="text-right">
                                            <div class="time-show first">
                                                <a href="#" class="btn btn-custom w-lg"><%= days.strftime("%A, %b %d") %> </a>
                                            </div>
                                        </div>
                                    </article>
                                     <% @my_events_day[days].each do |schedule| %>
                                    <article class="<%= schedule.event.sideAlt(@number)%>">
                                        <div class="timeline-desk">
                                            <div class="panel">
                                                <div class="panel-body">
                                                    <span class="<%= schedule.event.sideArrow(@number)%>"></span>
                                                    <span class="timeline-icon bg-<%= schedule.event.circleColor%>"><i class="zmdi zmdi-circle"></i></span>
                                                    <h4 class="text-<%= schedule.event.circleColor%>"><%= schedule.event.name%>
                                                   <p class="timeline-date text-muted"><small><%=schedule.start_time.strftime("%H : %M")%></small></p>
                                                  <p><%=schedule.event.description%></p>
                                                  <div class = " album">
                                                               <%= button_to remove_from_cart_path(schedule.event), :class => "btn btn-icon waves-effect waves-light btn-danger m-b-5",remote: true,  :method => :put do %>
    <span class="zmdi  zmdi-delete"></span>
<% end %>
                                                  </div>

                                                </div>
                                            </div>
                                        </div>

                                    </article>

                                    
<% end %>
<% end %>
                                </div>
                            </div>

<%end%>