<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<% provide(:title, "Programação") %>
<div class="content-page">
   <!-- Start content -->
   <div class="content">
      <div class="container">
 <div class="row">
 <div class="col-sm-12">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
           <li class="active"><a href="#welcome"class=" waves-effect waves-custom" data-toggle="tab">Bem-vindo</a></li>
        <% @eventsDays.each do |days| %> 
        
      
        
         <li><a href="#tab<%= @number %>"class=" waves-effect waves-custom" data-toggle="tab"><%= days.strftime("%A, %b %d") %></a></li>

        <% @number = @number +1%>
        <%end%>
        
       
    </ul>
     <% @number = 0%>
    <div id="my-tab-content" class="tab-content">
 <div class="tab-pane active fade in" id="welcome">
        Nossa semana!
</div>

        <% @eventsDays.each do |days| %>

        <div class="tab-pane fade" id="tab<%= @number%>" >
<% @scheduleHash[days].each do |schedule| %>
          <div class="col-md-4">
                              <div class="text-center card-box">
                                    <div class="dropdown pull-right">
                                        <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Edit</a></li>
                                            <li><a href="#">Delete</a></li>
                                            <li><a href="#">Block</a></li>
                                        </ul>
                                    </div>
                                    <div>
                                        <img src="assets/images/users/avatar-10.jpg" class="img-circle thumb-xl img-thumbnail m-b-10" alt="profile-image">

                                        <p class="text-muted font-13 m-b-30">
                                           <%=schedule.event.description%>
                                        </p>

                                        <div class="text-left">
                                            <p class="text-muted font-13"><strong>Nome do evento:</strong> <span class="m-l-15"><%= schedule.event.name%></span></p>

                                            <p class="text-muted font-13"><strong>Mobile :</strong><span class="m-l-15">(123) 123 1234</span></p>

                                            <p class="text-muted font-13"><strong>Email :</strong> <span class="m-l-15">coderthemes@gmail.com</span></p>

                                            <p class="text-muted font-13"><strong>Location :</strong> <span class="m-l-15">USA</span></p>
                                        </div>



 <% cart_action = schedule.event.cart_action(@user.id) %>
                       

                           <%= link_to "", :class => "btn btn-success waves-effect w-md waves-light m-b-5", data: {target: cart_action, addUrl: add_to_cart_path(schedule.event), removeUrl: remove_from_cart_path(schedule.event)},remote: true,  :method => :put do %>
                          <i class="zmdi zmdi-shopping-cart-plus"></i>
    <span > <%=cart_action%></span>
<% end %>
                         
             



                                        
                                    </div>

                                </div>

                            </div> <!-- end col -->
 <%end%>
 
        </div>
        <% @number = @number +1%>
        <%end%>
      
    </div>
</div>
</div>

      </div>
      <!-- container -->
   </div>
   <!-- content -->
   <footer class="footer">
      2016 © Adminto.
   </footer>
</div>