<% provide(:title, "Meu carrinho") %>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="clearfix">
          <div class="pull-left">
            <h3 class="logo">Lista de compras</h3>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <h4><br>
              <strong> Dados do comprador:</strong>
            </h4>
            <p><strong> Nome: </strong>
              <%= current_user.name%>
            </p>
            <p class="m-t-10"><strong> Email: </strong>
              <%= current_user.email %>
            </p>
          </div>
          <div class="col-md-4">
            <h4><br>
              <strong> Dados da compra:</strong>
            </h4>
            <p><strong> Data: <%= time_pt @user.payment.created_at %></strong> </p>
            <p class="m-t-10"><strong> Status do pedido: </strong> <span class="label label-primary"><%= current_user.payment.status %></span></p>
          </div>
          <div class="col-md-4">
            <% if @user.package %>
              <br>
              <p class="m-t-10">
                <p class="m-t-10"><strong>Pacote inclui: </strong>
                  <% @user.package.packages_events_types.each do |package_event_type| %>
                    <%= package_event_type.limit %> <%= package_event_type.event_type.name.pluralize(package_event_type.limit) %>,
                  <% end %>
                </p>
              </p>
              <p class="m-t-10">
                <strong>Eventos adicionados: </strong>
                <%= @user_cart[:lectures]%> palestras +
                <%= @user_cart[:courses]%> mini-cursos +
                <%= @user_cart[:visits]%> visitas
              </p>
            <% else %>
              <h4><br>
                <strong> Compra avulsa</strong>
              </h4>
            <% end %>
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
        <div class="m-h-50"></div>
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table m-t-30">
                <thead>
                  <tr>
                    <th>Evento</th>
                    <th>Descrição</th>
                    <th>Tipo</th>
                    <th>Custo</th>
                  </tr>
                </thead>
                <tbody>
                  <% @cart_events.each do |cart| %>
                    <tr>
                      <td>
                        <%= cart.name %>
                      </td>
                      <td>
                        <%= cart.description%>
                      </td>
                      <td>
                        <%= cart.event_type.name %>
                      </td>
                      <td>
                        <%= cart.price %>
                      </td>
                    </tr>
                    <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <%= render_payment_form %>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6 col-md-offset-3">
            <% if @user.package %>
              <p class="text-right"><b>Tipo de desconto:</b>
                <%= @package.title %>
              </p>
            <% else %>
              <p class="text-right"><b>Compra sem desconto</b></p>
            <% end %>
            <hr>
            <h3 class="text-right">Valor total: R$ <%=@cart_total%></h3>
          </div>
        </div>
        <hr>
        <div class="hidden-print">
          <div class="pull-left">
            <h5 class="m-t-40"><b>Deseja alterar a forma de pagamento ?</b></h5>
            <div class="form-group">
              <%= link_to require_change_payment_path, class: 'btn btn-primary waves-effect waves-light', method: :put  do %>
                Solicitar alteração
              <% end %>
              <%= link_to remove_payment_path, class: 'btn btn-primary waves-effect waves-light', method: :delete, data: { confirm: 'Tem certeza? Ao cancelar, você poderá perder sua vaga no pacote.' }  do %>
                Cancelar compra
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
