<%= form_for [:admin, @event] do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :facilitator %>
    <%= f.text_field :facilitator, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :limit %>
    <%= f.number_field :limit, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price, class: 'form-control float' %>
  </div>
  <div class="form-group">
    <%= f.label :kind %>
    <%= f.select :kind, ['Selecione'], {}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :schedules %>
    <input type="" name="" class="form-control" disabled placeholder="Para editar os horários, salve o evento">
  </div>
  <div class="form-group text-right m-b-0">
    <%= button_tag "Save event", type:'submit', class:'btn btn-primary waves-effect waves-light' %>
  </div>
<% end %>
