<%= form_for [:admin, @event] do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :facilitator %>
    <%= f.text_field :facilitator, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :limit %>
    <%= f.number_field :limit, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price, class: 'form-control float' %>
  </div>
  <div class="form-group">
    <%= f.label :kind %>
    <%= f.select :event_type_id, options_for_select(event_types_to_array, selected: @event.event_type_id), {include_blank: false}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :schedules %>
    <input type="" name="" class="form-control" disabled placeholder="Para editar os horários, salve o evento">
  </div>
  <div class="row form-group m-b-0">
    <%= link_to 'Novo tipo de evento', new_admin_event_type_path, class:'btn btn-primary waves-effect waves-light pull-left' %>
    <%= button_tag action_text, type:'submit', class:'btn btn-primary waves-effect waves-light pull-right' %>
  </div>
<% end %>
