<div class="row">
  <div class="col-sm-12">
    <div class="card-box table-responsive">
      <h4 class="header-title m-t-0 m-b-30"><%= titulo_pagina %></h4>
      <div class="row">
        <div class="col-sm-6">
          <div class="m-b-30">
            <%= link_to(new_admin_event_path, class:'btn btn-primary waves-effect waves-light') do %>
            Criar Programação <i class="fa fa-plus"></i>
            <% end %>
          </div>
        </div>
      </div>
      <div class="responsive">
        <table class="table table-striped" id="datatable">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Descrição</th>
              <th>Facilitador</th>
              <th>Inscritos</th>
              <th>Categoria</th>
              <th>Vagas restantes/Total</th>
              <th data-orderable="false"></th>
            </tr>
          </thead>
          <tbody>
            <% @events.each do |event| %>
            <tr>
              <td><%= event.name %></td>
              <td><%= event.description %></td>
              <td><%= event.facilitator %></td>
              <td><%= event.buyers.count %></td>
              <td><%= event.event_type.try(:name) %></td>
              <td><%= event.remaining %>/<%= event.limit %></td>
              <td>
                <div class="btn-group m-b-10">
                  <%= link_to admin_event_path(event), class: 'btn btn-primary btn-icon waves-effect' do %>
                    <i class="fa fa-eye"></i>
                  <% end %>
                  <%= link_to edit_admin_event_path(event), class: 'btn btn-primary btn-icon waves-effect' do %>
                    <i class="fa fa-edit"></i>
                  <% end %>
                  <%= link_to admin_event_path(event), method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-danger btn-icon waves-effect' do %>
                    <i class="fa fa-trash"></i>
                  <% end %>
                </div>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div><!-- end col -->
</div>
