<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
  <div class="sidebar-inner slimscrollleft">
    <!-- User -->
    <div class="user-box">
      <h5><%= current_admin.email %></h5>
      <ul class="list-inline">
        <li>
          <a href="#" >
            <i class="zmdi zmdi-settings"></i>
          </a>
        </li>
        <li>
          <%= link_to destroy_admin_session_path, method: :delete do%>
            <i class="zmdi zmdi-power"></i>
          <% end %>
          </a>
        </li>
      </ul>
    </div>
    <!-- End User -->
    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <ul>
        <li class="text-muted menu-title">Navegação</li>
        <li>
          <%= link_to admin_events_path do %>
            <i class="ti-time"></i> <span> Eventos </span>
          <% end %>
        </li>
        <li>
          <%= link_to admin_packages_path do %>
            <i class="ti-ticket"></i> <span> Pacotes </span>
          <% end %>
        </li>
        <li>
          <%= link_to admin_users_path do %>
            <i class="ti-user"></i> <span> Usuários </span>
          <% end %>
        </li>
        <li>
          <%= link_to admin_admins_path do %>
            <i class="ti-linux"></i> <span> Admins </span>
          <% end %>
        </li>
        <li>
          <%= link_to admin_comments_path do %>
            <i class="fa fa-comments"></i> <span> Comentarios </span>
          <% end %>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <!-- Sidebar -->
    <div class="clearfix"></div>
  </div>
</div>
<!-- Left Sidebar End -->