<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
  <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
    Usuário: <%= @user.email %>
  </td>
</tr>
<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
 <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
      Método de pagamento: <%= @payment.method %>
  </td>
</tr>

<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
  <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
    <h5>Informações de conta</h5>
    <ul>
      <li>Conta corrente: <%= @infos[:conta] %></li>
      <li>Agencia: <%= @infos[:agencia] %></li>
      <li>Beneficiado: <%= @infos[:beneficiado] %></li>
      <li>Banco: <%= @infos[:banco] %></li>
    </ul>
    <p>Em caso de pagamento presencial diriga-se à <%= @infos[:local] %></p>
  </td>
</tr>