<% if @my_events.empty? %>
<h3> Você não possui eventos adicionados a sua semana </h3>
<%else%>


<div class="col-sm-12">
                                <div class="timeline">
                                 <% @eventsDays.each do |days| %>
                                    <article class="timeline-item alt">
                                        <div class="text-right">
                                            <div class="time-show first">
                                                <a href="#" class="btn btn-custom w-lg"><%= l days, format: :week %> </a>
                                            </div>
                                        </div>
                                    </article>
                                     <% @my_events_day[days].each do |schedule| %>
                                    <article class="<%= schedule.event.sideAlt%>">

                                        <div class="timeline-desk">
                                            <div class="panel">
                                                <div class="panel-body">
                                                    <span class="<%= schedule.event.sideArrow%>"></span>
                                                    <span class="timeline-icon bg-<%= schedule.event.circleColor%>"><i class="zmdi zmdi-circle"></i></span>
                                                    <h4 class="text-<%= schedule.event.circleColor%>"><%= schedule.event.name%>
                                                   <p class="timeline-date text-muted"><small><%=schedule.start_time.strftime("%H : %M")%>h</small></p>
                                                  <p><%=schedule.event.description%></p>
                                                  <p><%=schedule.event.event_type.name%></p>
                                                  <div class = " album">
                                                  <% if current_user.is_there_payment?%>
                                            <%= button_to remove_from_path(schedule.event),:class => "btn btn-icon waves-effect waves-light btn-danger m-b-5",  :method => :put do %>
                              <i class="zmdi zmdi-minus-circle-outline"></i>
                              <span> Remover</span>
                                                            <% end %>
<% end %>
                                                  </div>

                                                </div>
                                            </div>
                                        </div>

                                    </article>

                                  
<% end %>
<% end %>
                                </div>
                            </div>

<%end%>