   <% @eventsDays.each do |days| %>
                  <div class="tab-pane fade" id="tab<%= @number%>" >
                     <% @scheduleHash[days].each do |schedule| %>
                     <div class="col-md-4">
                        <div class="text-center card-box">
                           <div class="dropdown pull-right">
                              <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                              <i class="zmdi zmdi-more-vert"></i>
                              </a>
                              <ul class="dropdown-menu" role="menu">
                                 <li><a href="#">Edit</a></li>
                                 <li><a href="#">Delete</a></li>
                                 <li><a href="#">Block</a></li>
                              </ul>
                           </div>
                           <div>
                              <img src="assets/images/users/avatar-10.jpg" class="img-circle thumb-xl img-thumbnail m-b-10" alt="profile-image">
                              <p class="text-muted font-13 m-b-30">
                                 <%=schedule.event.description%>
                              </p>
                              <div class="text-left">
                                 <p class="text-muted font-13"><strong>Nome do evento:</strong> <span class="m-l-15"><%= schedule.event.name%></span></p>
                                 <p class="text-muted font-13"><strong>Mobile :</strong><span class="m-l-15">(123) 123 1234</span></p>
                                 <p class="text-muted font-13"><strong>Email :</strong> <span class="m-l-15">coderthemes@gmail.com</span></p>
                                 <p class="text-muted font-13"><strong>Location :</strong> <span class="m-l-15">USA</span></p>
                              </div>
                              <% cart_action = schedule.event.cart_action(@user.id) %>
                              <% if cart_action == "Add to" %>
                              <%= button_to add_to_cart_path(schedule.event), :class => "btn btn-icon waves-effect waves-light btn-success m-b-5",   :method => :put do %>
                             <i class="zmdi zmdi-shopping-cart-plus"></i>
                              <span >Adicionar</span>
                              <% end %>
                              <%else%>
                              <%= button_to remove_from_cart_path(schedule.event), :class => "btn btn-icon waves-effect waves-light btn-danger m-b-5",  :method => :put do %>
                              <i class="zmdi  zmdi-delete"></i>
                              <span> Remover</span>
                                                            <% end %>
                              <%end%>
                           </div>
                        </div>
                     </div>
                     <!-- end col -->
                     <%end%>
                  </div>
                  <% @number = @number +1%>
                  <%end%>