<div class="row">
    <div class="col-lg-4 col-md-6">
        <%= link_to '/' do %>
            <div class="card-box widget-user">
                <div>
                    <%= image_tag("logos/logo-sec.png", class:"img-responsive img-circle")%>
                    <div class="wid-u-info">
                        <h4 class="m-t-0 m-b-5 font-600">Semana da Engenharia Civil</h4>
                        <p class="text-muted m-b-5 font-13">coderthemes@gmail.com</p>
                        <small class="text-warning"><b>12/06 - 20/06</b></small>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <div class="col-lg-4 col-md-6">
        <%= link_to '/' do %>
            <div class="card-box widget-user">
                <div>
                    <%= image_tag("logos/logo-sec.png", class:"img-responsive img-circle")%>
                    <div class="wid-u-info">
                        <h4 class="m-t-0 m-b-5 font-600">Semana da Engenharia Blabla</h4>
                        <p class="text-muted m-b-5 font-13">coderthemes@gmail.com</p>
                        <small class="text-warning"><b>12/06 - 20/06</b></small>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <div class="col-lg-4 col-md-6">
        <%= link_to '/' do %>
            <div class="card-box widget-user">
                <div>
                    <%= image_tag("logos/logo-sec.png", class:"img-responsive img-circle")%>
                    <div class="wid-u-info">
                        <h4 class="m-t-0 m-b-5 font-600">Semana da Engenharia Blablabla</h4>
                        <p class="text-muted m-b-5 font-13">coderthemes@gmail.com</p>
                        <small class="text-warning"><b>12/06 - 20/06</b></small>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>