
<% provide(:title, "Meu carrinho") %>
         <div class="row">
            <div class="col-md-12">
               <div class="panel panel-default">
                  <div class="panel-body">
                     <div class="clearfix">
                        <div class="pull-left">
                           <h3 class="logo">Lista de compras</h3>
                        </div>

                     </div>
                     <hr>
                     <div class="row">
                     <div class="col-md-12">
                        <div class="pull-right ">
                           <h4><br>
                              <strong> Dados do comprador:</strong>
                           </h4>
                           <p><strong> Nome: </strong> <%= current_user.name%></p>
                              <p class="m-t-10"><strong> Email: </strong> <%=current_user.email%></p>
                              
                        </div>
                           <div class="pull-left ">
                            <h4><br>
                              <strong> Dados da compra:</strong>
                           </h4>
                              <p><strong> Data: </strong> <%= l @time, format: :long%></p>
                              <p class="m-t-10"><strong> Status do pedido: </strong> <span class="label label-pink">Pendente</span></p>
                              <p class="m-t-10"><strong>Pedido: </strong> #</p>
                           </div>
                      </div>
                        <!-- end col -->
                     </div>
                     <!-- end row -->
                     <div class="m-h-50"></div>
                     <div class="row">
                        <div class="col-md-12">
                           <div class="table-responsive">
                              <table class="table m-t-30">
                                 <thead>
                                    <tr>
                                       <th>Id</th>
                                       <th>Evento</th>
                                       <th>Descrição</th>
                                       <th>Tipo</th>
                                       <th>Custo</th>
                                      
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <% @cart_events.each do |cart| %>
                                    <tr>
                                       <td><%= cart.id%></td>
                                       <td><%=cart.name%></td>
                                       <td><%=cart.description%></td>
                                       <td><%=cart.kind%></td>
                                       <td>R$ <%= cart.price%></td>
                                      
                                       <td><%= button_to remove_from_cart_path(cart.id), :class => "btn btn-icon waves-effect waves-light btn-danger m-b-5", :method => :put do %>
                                          <i class="zmdi zmdi-minus-circle-outline"></i>
                              <span> Remover</span>
                              <%end%>
                                       </td>
                                    </tr>
                                    <%end%>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                           <div class="clearfix m-t-40">
                              <h5 class=" text-inverse font-600">Qual a forma de pagamento?</h5>
                              <%= form_for(@payment , url: cart_path ,html: {class: 'form-horizontal '}) do |f| %>
                              
                              <label class="col-sm-2 control-label">Forma de pagamento</label>
                              <div class="col-sm-10">
                                 <%= f.select :method, ['Depósito bancário', 'Em espécie(presencial)', 'PagSeguro'], {}, { :class => 'form-control' } %>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6 col-md-offset-3">
                           <p class="text-right"><b>Sub-total:</b><%=current_user.cart_total_price%></p>
                           <p class="text-right">Desconto de pacote: 12.9%</p>
                           <h3 class="text-right">R$ <%=current_user.cart_total_price%></h3>
                        </div>
                     </div>
                     <div class="hidden-print">
                        <div class="pull-right">
                            <%= button_tag "Finalizar compra", class:  "btn btn-custom btn-bordred btn-block waves-effect waves-light", type:"submit"  %>
                           <%end%>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>