<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-sm-12">
    <div class="card-box table-responsive">
      <h4 class="header-title m-t-0 m-b-30">Competição - Times</h4>
      <div class="responsive">
        <table class="table table-striped" id="datatable">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Email Responsável</th>
              <th>Número de membros</th>
              <th>Método de Pagamento</th>
              <th data-orderable="false"></th>
            </tr>
          </thead>
          <tbody>
            <% @admin_challenge_teams.each do |admin_challenge_team| %>
            <tr>
              <td><%= admin_challenge_team.name %></td>
              <td><%= admin_challenge_team.email %></td>
              <td><%= admin_challenge_team.limit %></td>
              <td><%= admin_challenge_team.payment_method %></td>
              <td class="actions pull-right">
               <div class="btn-group m-b-10">
                  <%= link_to  admin_challenge_team_path(admin_challenge_team), class: 'btn btn-primary btn-icon waves-effect' do %>
                    <i class="fa fa-eye"></i>
                  <% end %>
                  <%= link_to admin_challenge_team_path(admin_challenge_team), method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-danger btn-icon waves-effect' do %>
                    <i class="fa fa-trash"></i>
                  <% end %>
                </div>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div><!-- end col -->
</div>