<%= form_for [:admin, @event, @schedule] do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "Erros") %></h2>
      <ul>
      <% @schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :start_time %>
    <%= schedule_time_field f, :start_time, class: 'form-control date_time' %>
  </div>
  <div class="form-group">
    <%= f.label :end_time %>
    <%= schedule_time_field f, :end_time, class: 'form-control date_time' %>
  </div>
  <div class="form-group text-right m-b-0">
    <%= button_tag "Save schedule", type:'submit', class:'btn btn-primary waves-effect waves-light' %>
  </div>
<% end %>
