<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-sm-12">
    <div class="card-box table-responsive">
      <h4 class="header-title m-t-0 m-b-30"><%= titulo_pagina %></h4>
      <div class="row">
        <div class="col-sm-6">
          <div class="m-b-30">
            <%= link_to(new_admin_user_path, class:'btn btn-primary waves-effect waves-light') do %>
            New User <i class="fa fa-plus"></i>
            <% end %>
          </div>
        </div>
      </div>
      <div class="responsive">
        <table class="table table-striped" id="datatable">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Email</th>
              <th>Cursorse</th>
              <th>Semestre</th>
              <th>Aniversário</th>
              <th>Universidade</th>
              <th>Tam. Camisa</th>
              <th>Total da compra</th>
              <th>Data da compra</th>
              <th>Metodo de Pagamento</th>
              <th>Status do Pagamento</th>
              <th data-orderable="false"></th>
            </tr>
          </thead>
          <tbody>
            <% @admin_users.each do |admin_user| %>
            <tr>
              <td><%= admin_user.name %></td>
              <td><%= admin_user.email %></td>
              <td><%= admin_user.course %></td>
              <td><%= admin_user.semester %></td>
              <td><%= date_pt admin_user.birthday %></td>
              <td><%= admin_user.university %></td>
              <td><%= admin_user.size %></td>
              <%if admin_user.payment %>
                <td><%= admin_user.payment.price %></td>
                <td><%= date_pt admin_user.payment.created_at %></td>
              <%else%>
                <td>não possui compra</td>
                <td>não possui compra</td>
              <%end%>
              <td><%= admin_user.payment.try(:method) %></td>
              <td><%= admin_user.payment.try(:status) %></td>
              <td class="actions pull-right">
                <div class="btn-group m-b-10">
                  <%= link_to  admin_user_path(admin_user), class: 'btn btn-primary btn-icon waves-effect' do %>
                  <i class="fa fa-eye"></i>
                  <% end %>
                  <%= link_to edit_admin_user_path(admin_user), class: 'btn btn-primary btn-icon waves-effect' do %>
                  <i class="fa fa-edit"></i>
                  <% end %>
                  <%= link_to admin_user_path(admin_user), method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-danger btn-icon waves-effect' do %>
                  <i class="fa fa-trash"></i>
                  <% end %>
                </div>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
