<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-6">
    <div class="text-center card-box">
      <h4 class="header-title m-t-0 m-b-30">Perfil</h4>

      <div>
        <img src="assets/images/users/avatar-10.jpg" class="img-circle thumb-xl img-thumbnail m-b-10" alt="profile-image">

        <div class="text-left">
          <p class="text-muted font-13"><strong>Nome :</strong> <span class="m-l-15"><%= @admin_user.name %></span></p>

          <p class="text-muted font-13"><strong>Email :</strong><span class="m-l-15"><%= @admin_user.email %></span></p>

          <p class="text-muted font-13"><strong>Curso :</strong> <span class="m-l-15"><%= @admin_user.course %></span></p>

          <p class="text-muted font-13"><strong>Semestre :</strong> <span class="m-l-15"><%= @admin_user.semester %></span></p>
          <p class="text-muted font-13"><strong>Data de Nascimento :</strong> <span class="m-l-15"><%= @admin_user.birthday %></span></p>
          <p class="text-muted font-13"><strong>Instituição de Ensino :</strong> <span class="m-l-15"><%= @admin_user.university %></span></p>
        </div>

      </div>

    </div>
  </div>
  <div class="col-md-6">
    <div class="text-center card-box">
      <h4 class="header-title m-t-0 m-b-30">Informações de Pagamento</h4>
      <div class="text-left">
        <p>
          <%= render 'payment', @payment %>
        </p>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_admin_user_path(@admin_user) %> |
<%= link_to 'Back', admin_users_path %>
