<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-6">
    <div class="card-box">
      <h4 class="header-title m-t-0 m-b-30">Perfil</h4>
      <div>
        <div class="text-left">
          <p class="text-muted"><strong>Nome :</strong> <span class="m-l-15"><%= @admin_user.name %></span></p>

          <p class="text-muted"><strong>Email :</strong><span class="m-l-15"><%= @admin_user.email %></span></p>

          <p class="text-muted"><strong>Curso :</strong> <span class="m-l-15"><%= @admin_user.course %></span></p>

          <p class="text-muted"><strong>Semestre :</strong> <span class="m-l-15"><%= @admin_user.semester %></span></p>
          <p class="text-muted"><strong>Data de Nascimento :</strong> <span class="m-l-15"><%= @admin_user.birthday %></span></p>
          <p class="text-muted"><strong>Instituição de Ensino :</strong> <span class="m-l-15"><%= @admin_user.university %></span></p>
        </div>

      </div>

    </div>
  </div>
  <div class="col-md-6">
    <div class="card-box">
      <h4 class="header-title m-t-0 m-b-30">Informações de Pagamento</h4>

      <div class="text-center">
        <% if !@payment.nil? %>
          <div class="text-left">
            <p class="text-muted"><strong>Método atual :</strong>
              <span class="m-l-15"> <%= @payment.method %></span>
            </p>
            <p class="text-muted"><strong>Status atual :</strong>
              <span class="m-l-15"><%= @payment.status %></span>
            </p>
          </div>
          <%= render 'payment'%>
        <% else %>
          <p>Este usuário ainda não escolheu o método de pagamento</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card-box">
      <h4 class="header-title m-t-0 m-b-30">Informações do Pacote</h4>
      
        <% if !@package.nil? %>
          <ul class="list-group m-b-0 user-list">
            <li class="list-group-item user-list-item">
              <div class="avatar text-center">
                <i class="zmdi zmdi-circle text-primary"></i>
              </div>
              <div class="user-desc">
                <span class="name"> Pacote <%= @package.title %></span>
                <span class="desc"> R$ <%= @package.price %></span>
              </div>
            </li>
          </ul>
        <% else %>
          <div class="text-center">
            <p>Este usuário ainda não escolheu seu pacote</p>
          </div>
        <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card-box">
      <h4 class="header-title m-t-0 m-b-30">Eventos</h4>
      <% if @admin_user.events.empty? %>
        <div class="text-center">
          <p>Usuario não está inscrito em nenhum evento</p>
        </div>
      <% else %>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Evento</th>
                <th>Horário</th>
                <th>Opções</th>
                <th><%= link_to 'Remover de todos', admin_remove_user_from_all_events_path(@admin_user), method: :patch, class:'label label-danger' %></th>
              </tr>
            </thead>
            <tbody>
              <% @admin_user.events.each do |event| %>
                <tr>
                  <td><%= event.name %></td>
                  <td><%= event.description %></td>
                  <td><%= link_to 'Remover', admin_remove_user_from_event_path(@admin_user, event), method: :patch, class:'label label-danger' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_admin_user_path(@admin_user) %> |
<%= link_to 'Back', admin_users_path %>
