<% provide(:title, "Meu perfil") %>
<div class="row">
  <div class="col-sm-8">
    <div class="bg-picture card-box">
      <div class="profile-info-name">
        <div class="profile-info-detail">
          <h3 class="m-t-0 m-b-0"><%= @user.name %></h3>
          <p class="text-muted m-b-20"><i><%= @user.course %></i></p>
          
          <div class="button-list m-t-20">
            <button type="button" class="btn btn-facebook btn-sm waves-effect waves-light">
             <i class="fa fa-facebook"></i>
           </button>

           <button type="button" class="btn btn-sm btn-twitter waves-effect waves-light">
             <i class="fa fa-twitter"></i>
           </button>

           <button type="button" class="btn btn-sm btn-linkedin waves-effect waves-light">
             <i class="fa fa-linkedin"></i>
           </button>

           <button type="button" class="btn btn-sm btn-dribbble waves-effect waves-light">
             <i class="fa fa-dribbble"></i>
           </button>

         </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="card-box">
      <h4 class="header-title m-t-0 m-b-30"><i class="zmdi zmdi-info m-r-5"></i> Recados da <%= current_week[:sigla]%></h4>
      <div class="comment">
        <img src="assets/images/users/avatar-2.jpg" alt="" class="comment-avatar">
        <div class="comment-body">
          <div class="comment-text">
            <div class="comment-header">
              <a href="#" title="">Adam Jansen</a><span>about 2 minuts ago</span>
            </div>
            Story based around the idea of time lapse, animation to post soon!
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card-box">
      <%= render_package %>
    </div>

    <div class="card-box">
      <h4 class="header-title m-t-0 m-b-30"><i class="zmdi zmdi-notifications-none m-r-5"></i> Minha Programação</h4>

      <ul class="list-group m-b-0 user-list">
        <% if @user.events.empty? %>
          <li class="list-group-item">
            <div class="avatar">
              <h4><i class="zmdi zmdi-alert-circle"></i> Você não adicionou programação </h4>
            </div>
            <%= link_to events_path, class:  "btn btn-custom btn-bordred btn-block waves-effect waves-light" do %>
              <span> Escolher programação </span>
            <% end %>
         </li>
        <% else %>
          <% @user.events.first(5).each do |event| %>
            <li class="list-group-item">
              <a href="#" class="user-list-item">
                <div class="avatar text-center">
                  <i class="zmdi zmdi-circle text-primary"></i>
                </div>
                <div class="user-desc">
                  <span class="name"><%= event.name %></span>
                  <span class="desc"><%= event.schedules.first %></span>
                </div>
              </a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>