<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
  <div class="sidebar-inner slimscrollleft">
    <!-- User -->
    <div class="user-box">
      <div class="user-img">
        <%= image_tag("users/avatar-1.jpg", class:"img-circle img-thumbnail img-responsive") %>
        <div class="user-status offline"><i class="zmdi zmdi-dot-circle"></i></div>
      </div>
      <h5><a href="#"><%= @user.name %> </a> </h5>
      <ul class="list-inline">
        <li>
          <a href="#" >
            <i class="zmdi zmdi-settings  zmdi-hc-2x"></i>
          </a>
        </li> 
        <li>
          <%= link_to destroy_user_session_path,title: "Sair", class: 'has_bottom_tooltip', 'data-original-title' => 'Sair', method: :delete do %>
          <i class="zmdi zmdi-power  zmdi-hc-2x"></i>
          <% end %>
        </li>
      </ul>
    </div>

  <!-- End User -->
  <!--- Sidemenu -->
  <div id="sidebar-menu">
    <ul>
      <li class="text-muted menu-title">Navigation</li>
      <li>
        <%= link_to authenticated_user_root_path, class: 'waves-effect' do %>
        <i class="zmdi zmdi-home"></i>
        <span>Início</span>
        <% end -%>
      </li>
      <li>
        <%= link_to events_path, class: 'waves-effect' do %>
        <i class="zmdi zmdi-calendar"></i>
        <span>Programação</span>
        <% end -%>
      </li>
      <li>
        <%= link_to my_events_path, class: 'waves-effect' do %>
        <i class="zmdi zmdi-calendar-alt"></i>
        <span>Minha Semana</span>
        <% end -%>
      </li>
      <li>
        <%= link_to cart_path, class: 'waves-effect' do %>
        <i class="zmdi zmdi-shopping-cart"></i>
        <span>Meu carrinho</span>
        <% end -%>
      </li>
    </div>
  </div>
>>>>>>> f6976a205a58b6fb4a9dfe04f78e45d1d6bcb737
</div>
<!-- Left Sidebar End -->