
            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">

                    <!-- User -->
                    <div class="user-box">
                        <div class="user-img">
                            <%= image_tag("users/avatar-1.jpg", class:"img-circle img-thumbnail img-responsive") %>
                            <div class="user-status offline"><i class="zmdi zmdi-dot-circle"></i></div>
                        </div>
                        <h5><a href="#"><%= @user.name %> </a> </h5>
                        <ul class="list-inline">
                            <li>
                                <a href="#" >
                                    <i class="zmdi zmdi-settings"></i>
                                </a>
                            </li>

                            <li>
                            <%= link_to  destroy_user_session_path, :method => :delete do %>
      <i class="zmdi zmdi-power"></i>
    
      <% end -%>
                               
                            </li>
                        </ul>
                    </div>
                    <!-- End User -->

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <ul>
                          <li class="text-muted menu-title">Navigation</li>

                            <li>
                                 <%= link_to root_path, class: 'waves-effect' do %>
                                    <i class="zmdi zmdi-home"></i>
                                     <span>Início</span>
                                            <% end -%>
                            </li>

                              <li>
                                 <%= link_to 'profiles/semana', class: 'waves-effect' do %>
                                    <i class="zmdi zmdi-calendar"></i>
                                     <span>Programação</span>
                                            <% end -%>
                            </li>

                             <li>
                                 <%= link_to '#', class: 'waves-effect' do %>
                                    <i class="zmdi zmdi-calendar-alt"></i>
                                     <span>Minha Semana</span>
                                            <% end -%>
                            </li>
                             <li>
                                 <%= link_to cart_path, class: 'waves-effect' do %>
                                    <i class="zmdi zmdi-shopping-cart"></i>
                                     <span>Meu carrinho</span>
                                            <% end -%>
                            </li>

                           

                      

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <!-- Sidebar -->
                    <div class="clearfix"></div>

                </div>

            </div>
            <!-- Left Sidebar End -->


