<!DOCTYPE html>
<html>
    <head>
        <title>SemanaDeTecnologia</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div class="account-pages"></div>
        <div class="clearfix"></div>
        <div class="wrapper-page">
            <div class="text-center">
                <a href="index.html" class="logo"><span>LOGO<span></span></span></a>
                <h5 class="text-muted m-t-0 font-600">SEMANA DO FULANO</h5>
            </div>
            <div class="m-t-40 card-box">
                <div class="text-center">
                    
                    <h5>
                        <%- flash.each do |name, msg| -%>
                        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
                        <%- end -%>  
                    </h5>
                </div>
                <div class="panel-body">
                    <%= yield %>
                </div>
               
            </div>
        </div>
        <script>
            var resizefunc = [];
        </script>
        <!-- jQuery  -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/detect.js"></script>
        <script src="assets/js/fastclick.js"></script>
        <script src="assets/js/jquery.slimscroll.js"></script>
        <script src="assets/js/jquery.blockUI.js"></script>
        <script src="assets/js/waves.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/jquery.nicescroll.js"></script>
        <script src="assets/js/jquery.scrollTo.min.js"></script>
        <!-- App js -->
        <script src="assets/js/jquery.core.js"></script>
        <script src="assets/js/jquery.app.js"></script>
    </body>
</html>
