
<h4 class="text-uppercase text-center font-bold m-b-0">Cadastro</h4>

<%= form_for(resource, as: resource_name, html: {class: 'form-horizontal m-t-20'}, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <%= render 'notifications/errors' %>

<div class="form-group ">
    <div class="col-xs-12">
        <%= f.label :name,"Nome completo"  %><br />
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
    </div>
</div>

<div class="form-group ">
    <div class="col-xs-12">
        <%= f.label :birthday, "Aniversário"   %><br />
        <%= f.date_field :birthday, autofocus: true, class: "form-control" %>
    </div>
</div> 

<div class="form-group ">
    <div class="col-xs-12">
        <%= f.label :course, "Curso"  %><br />
        <%= f.text_field :course, autofocus: true, class: "form-control" %>
    </div>
</div>

<div class="form-group ">
    <div class="col-xs-12">
        <%= f.label :univesity, "Universidade"  %><br />
        <%= f.text_field :university, autofocus: true, class: "form-control" %>
    </div>
</div>  

<div class="form-group ">
    <div class="col-xs-12">
        <%= f.label :semester, "Semestre"  %><br />
        <%= f.number_field :semester,in:1..12, autofocus: true, class: "form-control" %>
    </div>
</div>   

<div class="form-group ">
    <div class="col-xs-12">
        <%= f.label :email, "Email"  %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>
</div>  

<div class="form-group ">
    <div class="col-xs-12">
       <%= f.label :password, "Senha" %><br />
       <%= f.password_field :password, autocomplete: "off", placeholder: 'Mínimo 6 caracteres', class: "form-control" %>
    </div>
</div> 

<div class="form-group ">
    <div class="col-xs-12">
       <%= f.label :password_confirmation, "Confirmar senha" %><br />
       <%= f.password_field :password_confirmation, autocomplete: "off",class: "form-control" %>
    </div>
</div> 

<div class="form-group text-center m-t-30">
    <div class="col-xs-12">

        <%= button_tag "Cadastrar!", class:  "btn btn-custom btn-bordred btn-block waves-effect waves-light", type:"submit"  %>
    </div>
</div>

<% end %>
<div class="row">
    <div class="col-sm-12 text-center">
        <p class="text-muted">Já tem cadastro?   <%= link_to "Log in", {controller: "sessions", action: "new"}, class: "text-primary m-l-5" %></p>
    </div>
</div>

  



